div.home-picture img{ 
	width: 500px;
 }

nav{
	position: relative;
	left: 0;
	right: 0;
	top: 0;	
}
nav ul{
	padding: 0;
	margin: 0;
	background-color: #0000FF99;
	width: 20%;
	height: 15%;
	color: #ffff;
}
nav li{
	display: inline-block;
	padding: 10px 30px;
	transition: background-color .3s ease;
	width: 23%;
}
nav li:hover{
	background-color: #253D5B;
}
nav a{
	text-decoration: none;
	color: #ffff;
	font-size: 27px;
}

div.Pizzalux-about h2{
	font-size: 40px;
}
div.Pizzalux-about p{
	font-size: 20px;
}
div.logo {
	text-align: center;
}
div.logo img{
	padding: 30px 10px;
	margin: 0 auto;
}

body{
	text-align: center;
	background-image: url(NY-Slice-1.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
p{
	margin: 10px 400px;
	background-color: #36415699;
	font-size: 50px;
}
h2{
	margin: 10px 400px;
	background-color: #36415699;
	font-size: 50px;
}
h1{
	margin: 10px 400px;
	background-color: #36415699;
	font-size: 50px;
}
div.Prices ul{
	margin: 10px 400px;
	background-color: #36415699;
	font-size: 50px;
}

